body{       
background-color: aliceblue;
justify-content: center;
display:flexbox;
}

.titulo{
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}

.line{
    width: 50%; 
    border-bottom: 1px solid #010c29;
    margin: 0 auto; 
    display: block; 
    margin-bottom: 40px;

}

.card{
    justify-content: center;
    text-align: center;
    margin: 100px 300px 5px  ;
    padding: 100px;
    background-color:rgb(162, 200, 231);
    border-radius: 10px;
    display: block;
}

input{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 300px;
    text-align: center;
    
}

button{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-family:  monospace;
    background-color: #17213d;
    color: aliceblue;
}

.logo{
    justify-content: center;
    padding: -10px;
    height: 100px;
    margin-left: 46%;
    margin-top: 50px;
    margin-block-end: -100px;
 
}